@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<hgroup class="title">
    <h1 class="error">Session Time Out !!!</h1>
    <h2 class="error">Please Log In Again </h2>
</hgroup>
