@{
    ViewBag.Title = "UserAuthentication";
}
<div class="row">
    <div id="fuelux-wizard-container" class="no-steps-container">

        <div class="card bd-0">

            <div class="card-body bd bd-t-0">
                <form class="form-horizontal clearfix" id="userauthen-form" name="myform" action="@Url.Content("~/User/UserAuthentication")" method="post">
                    <div class="card-header tx-medium bd-0 tx-white bg-indigo">
                        User Authentication

                    </div><!-- card-header -->
                    <div class="row row-sm" style=" margin-top: 25px;">


                        <div class="col-md-5 col-lg-3 mg-t-20 mg-md-t-0">
                            <div id="slWrapper1" class="parsley-select">
                                <label class="control-label" for="username">Username<span class="text-danger">*</span>:</label>
                                <select class="form-control select2" id="username" data-parsley-class-handler="#slWrapper1" data-parsley-errors-container="#slErrorContainer1" required tabindex="1">
                                </select>
                                <div id="slErrorContainer1"></div>
                            </div>
                        </div>

                        <div class="col-md-5 col-lg-3 mg-t-20 mg-md-t-0">
                            <label class="ckbox" for="SelectAllScreens">Select All</label>
                            <div class="clearfix">
                                <input type="checkbox" id="txtSelectAllScreens" name="txtSelectAllScreens" class="" maxlength="50" tabindex="2">

                            </div>
                        </div>
                        @*<div class="col-md-5 col-lg-3 mg-t-20 mg-md-t-0">
                            <label class="ckbox" for="txtishod">Is HOD</label>
                            <div class="clearfix">
                                <input type="checkbox" id="txtishod" name="txtishod" class="" maxlength="50" tabindex="2">

                            </div>
                        </div>*@

                    </div>



                    <div class="wizard-actions" style="text-align: center !important; margin-top: 50px; margin-bottom: 20px;">

                        <button class="btn btn-az-secondary" id="btnsubmit" type="submit" title="Save" tabindex="3">
                            <span id="actiontype">Save</span>
                            <i class="typcn typcn-bookmark icon-on-left"></i>
                        </button>
                        <a class="btn btn-danger btn-sm"  title="Clear" id="btnclear" tabindex="4">
                            <span id="actiontype">Clear</span>
                            <i class="typcn typcn-social-at-circular icon-on-left"></i>
                        </a>



                    </div>
                </form>
                <div class="card-header tx-medium bd-0 tx-white bg-indigo" style="border-radius: 5px;">
                    Screen Details
                </div><!-- card-header -->
                <div id="dynamic-table_wrapper" class="dataTables_wrapper no-footer" style="margin-top: 20px;">

                    <table id="dynamic-tableUpload" class="table table-striped table-bordered table-hover checkupload">
                        <tbody id="tbody" class="checkuploadbody"></tbody>
                    </table>
                </div>
            </div>
        </div><!-- card-body -->


    </div>
</div>


@section Scripts
    {


    <script src="@Url.Content("~/azia/v1.0.0/lib/Bootbox/bootbox.min.js")"></script>
    <script src="@Url.Content("~/azia/v1.0.0/lib/Bootbox/bootbox.js")"></script>
    <script src="@Url.Content("~/FuctionScripts/UserAuthentication.js")"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
}